label {
	color: #435960;
	font-weight: bold;
}

input {
	font-size: 1em;
	padding: .5rem;
}

button {
	margin-top: 20px;
	background-color: #f5fbba;
	/* background-image: url("/src/assets/leaf.gif"), url("/src/assets/paper.gif");
	background-blend-mode: color-burn; */
	border-radius: .35rem;
	font-size: 1rem;
	font-weight: bolder;
	padding: .3rem .85rem ;
}

button:hover {
	background-color: #cfd8dc;
}
button:disabled {
	background-color: paleturquoise;
	color: #ccc;
	cursor: auto;
}
button:active {
	background-color: orange;
	background-blend-mode: color-burn;
}