<h2>My Heroes</h2>
<div>
	<label for="new-hero">Hero name: </label>
	<input #heroName id="new-hero">
	<!-- (click) passes input value to add() and then clears the input -->
	<button class="add-button" (click)="add(heroName.value); heroName.value=''">Add Hero</button>
</div>
<ul class="heroes">
	<li *ngFor="let hero of heroes" >
		<!-- heroes holds the mock heres list from the mock heroes list -->
		<!-- hero holds the current hero object for each iteration through the list -->
		<a routerLink="/detail/{{hero.id}}">
			<span class="badge">{{hero.id}}</span>
			{{hero.name}}
		</a>
		<button class="delete" title="delete hero"
			(click)="delete(hero)">x</button>
	</li>
</ul>
